* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: "Ubuntu", sans-serif;
}

/** The Navigation Bar Start**/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #553E1F;
    color: #ffe4c4;
    font-size: x-large;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #608599, #0C2533);
}

h3 {
    font-size: 3rem;
    color: #ffe4c4;
    padding-bottom: 10px;
}

.nav-bar li  {
    display: inline-block;
    justify-content: space-evenly;

    animation-name: slideInRight;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.containers-head {
    display: flex;
    align-items: center;
}

/*Slide in animation Left & Right */
@keyframes slideInLeft{
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideInRight {
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(0px);
    }
}

#name, #selfie {
    display: inline-block;
    justify-content: space-evenly;

    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

#name {
    margin-left: 20px;
    text-decoration: none;
}

/* Head shot photo */
#selfie {
    border-radius: 100%; 
    height: 60px;
    width: 65px;
    margin: auto;
    border: solid 2px #000000;
}

/* Nav Selection */
a {
    color: bisque; 
    padding: 30px;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #C4EAFF;
}


/* Home Page */
.container-home {
    display: block;
    margin: 40px 20px;
    display: flex;
}

.container-home .profession {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-end;
}

.profession {
    align-items: center;
    text-align: center;
    padding: 300px 40px;
    margin: 40px 40px;
}

#job, #obj, #quote {
    margin: 50px;
}

#job {
    font-size: 130px;
    color: #000;
    font-family: "Orbitron", sans-serif;
    font-style: italic; 
    text-shadow: #fff 1px 0 10px;
}

#obj {
    margin-top: 25px;
    color:#fff;
    font-size: 25px;
}

#quote {
    color: #fff;
    font-size: 20px;
}


/* border */
.card-outer {
    background: #CBCBCB;
    padding: 20px;
    overflow: hidden;
    z-index: 3;
    position: relative;
    border-radius: 5%;
}

/* inner div background */
.card-inner {
    width: auto;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    z-index: 5;
    background-color: #4A93B6;
    border-radius: 5%;
    background-image: linear-gradient(#FFE4C4,#4A93B6,#332D27);
}

/* svg spining icon */
.spinning-border{
    background: linear-gradient(
    90deg, 
    #000,
    #575757
    );
    position: absolute;
    z-index: 4;
    inset: 0;

    animation: spin 7s linear infinite;
    scale: 1.5;
}

svg {
    font-size: 36px;
    color: #819BA8;
    animation: spin 2s linear infinite;
    visibility: hidden;
}

/*animation for spinning svg*/
@keyframes spin {
    from{
        rotate: 360deg;
    }
    to {
        rotate: 0deg;
    }
}


/* footer */ 
footer {
    margin-top: 0px;
    height: 375px;
    padding: 45px;
    padding-left: 60px;
}

.footer-container {
    display: flex; 
    flex-wrap: wrap; 
    font-family: "Ubuntu", sans-serif;
    background-image: linear-gradient(to right, #608599, #0C2533);
    color: #fff;
}

.contact-section {
    flex: 1 1 50%; 
    padding: 20px; 
    box-sizing: border-box; 
}

.boxes-section {
    flex: 1 1 50%; 
    display: flex; 
    justify-content: space-between; 
    padding: 20px; 
    box-sizing: border-box; 
}

#box-1, #box-2 {
    width: 48%; 
    height: 120px; 
    background-color: transparent; 
    margin-top: 35px;
}

#box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

#connect {
    font-size: 16px;
    font-weight: 600;
}

.fa {
    display: flex;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
  

  .fa:hover {
    opacity: 0.7;
}

.fa-linkedin::before {
    font-size: 24px; 
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-facebook::before {
    font-size: 24px; 
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-github::before {
    font-size: 24px; 
}

.fa-github {
    background: #0366d6;
    color: white;
  }

/* Project Section */
h2 {
    font-size: 4rem;
    text-decoration: underline #000;
}

#project-title {
    margin: 40px;
}

#project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-height: 1200px;
    overflow: hidden;
    margin: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}

.projects {
    display: inline-grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    padding: 0px;
    align-items: center;
    gap: 100px;
    margin: 15px;
}

#calc {
    height: 100%;
    max-width: 100%;
}

.project-name {
    color: #3D86AA;
}

#code {
    color: hsl(229, 79%, 72%);
    padding: 0px;
}

#code:hover {
    color: hsl(229, 79%, 60%)
}

/*about container*/
#about-container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 100%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    background-color: #ffe4c4;
    padding: 50px; 
    box-sizing: border-box; 
    margin-bottom: 0px;
}

#about-title {
    background-color: #ffe4c4;
    padding: 10px 50px; 
}

.flip {
    background-color: transparent;
    width: 600px;
    height: 400px;
    perspective: 1000px;
  }

  .flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 10px 5px 5px black;
  }
  
  .flip:hover .flip-inner {
    transform: rotateY(180deg);
  }

.flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-front {
    background-color: #bbb;
    color: black;
  }

.flip-back {
    background-image: linear-gradient(to right, #608599, #0C2533);
    color: white;
    transform: rotateY(180deg);
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px;
}

.flip-front img {
    width: 600px;
    height: 400px;
}

.skills {
    list-style-type: none;
}


.birthday-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}

.hint-display {
    margin: 50px;
}

#hint1, #hint2, #hint3 {
    font-size: 30px;
    padding: 10px;
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4 51%, #E55D87 100%);
    color: #fff;
}

.guess-box {
    display: flex;
    justify-content: center;
}

#guess-stack {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}